<ion-view title="Options">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ul class="list">
            <li class="item item-input item-select">
                <div class="input-label">
                    Heatmap Color
                </div>
                <select 
                		ng-model="options.heatmapColor"
                		ng-options="color for color in colors">
                </select>
            </li>
            <li class="item item-toggle">
                Use Weighted Data
                <label class="toggle toggle-positive">
                    <input ng-model="options.weightData" type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Display Ads
                <label class="toggle toggle-positive">
                    <input ng-model="options.displayAds" type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>
